<!DOCTYPE html>
<html>
<head>
	<title>Welcome to the Map System</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link href="Content/Styles/styles.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



</head>
<body>
    <div class="container">
    <!-- This is for the navigation bar -->
    	<nav class="navbar navbar-expand-md navbar-light bg-light">
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="Home.html">
    <img src="pictures/nyu" width="28" height="30" class="d-inline-block align-top" >&nbsp
    NYU Mapping
  </a>
  </nav>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="Home.html">Main Page</a>
      </li>
    </ul>
  </div>
</nav>
<br><br>
    <h1 class="display-4 text-center">NYC Best Route Recommendation System</h1>
<br>



<!-- Content area -->

<form action="{{ url_for('submit') }}" method="post">
  <div class="form-group">
    <label for="startLocation"> &nbsp&nbsp Please enter your start location</label>
      &nbsp<div class="form-row col-md-6 col-sm-12">
        <input type="text" name= "startLocation" class="form-control" id="startLocation" aria-describedby="start Location" placeholder="Enter your started location">
        <small id="startAddressHelper" class="form-text text-muted">We'll never share where you are with others</small>
      </div>
  </div>
  <div class="form-group">
    <label for="endLocation"> &nbsp&nbsp Please enter your destination</label>
      &nbsp<div class="form-row col-md-6 col-sm-12">
        <input type="text" name= "endLocation" class="form-control" id="destination" aria-describedby="destination" placeholder="Enter your destination">
        <small id="DestionationAddressHelper" class="form-text text-muted">We'll never share where you want to go with others</small>
      </div>
  </div>

   <div class="form-group">
    <label for="temperature"> &nbsp&nbsp Current Temperature</label>
      &nbsp<div class="form-row col-md-6 col-sm-12">
        <input type="number" class="form-control" name = "temperature" id="temperature" aria-describedby="destination" value="60">
        <small id="notmuchuse" class="form-text text-muted">Please enter current temperature. Default to be 65 degree fahrenheit</small>
      </div>
  </div>

   <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">&nbsp&nbsp Is it windy?</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="windy" id="windyyes" value="yes" checked>
          <label class="form-check-label" for="gridRadios1">
            Yes!
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="windy" id="windyno" value="no">
          <label class="form-check-label" for="gridRadios2">
            No!
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="windy" id="windydontknow" value="do not know" disabled>
          <label class="form-check-label" for="gridRadios3">
            Who knows
          </label>
        </div>
      </div>
    </div>
  </fieldset>


  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">&nbsp&nbsp Is it raining?</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="rain" id="rainyes" value="yes" checked>
          <label class="form-check-label" for="gridRadios1">
            Yes!
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="rain" id="rainno" value="no">
          <label class="form-check-label" for="gridRadios2">
            No!
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="rain" id="rainyesdontknow" value="do not know" disabled>
          <label class="form-check-label" for="gridRadios3">
            Who knows
          </label>
        </div>
      </div>
    </div>
  </fieldset>


    <br>

   <div class="form-group col-md-6">
    <label for="route">Route Selection</label>
    <select class="form-control" name="route" id="RunOption">
      <option>Fatest Route</option>
      <option>Least Expensive Route</option>
      <option>Safest Route</option>
    </select>
  </div>

  <div class="form-group form-check">
    &nbsp &nbsp<input type="checkbox" name = "sendEmail" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1"> Send a copy of the result to my email</label>
  </div>
  &nbsp&nbsp<button type="submit" class="btn btn-primary">Submit</button>
</form>

<br><br><br>
<blockquote class="blockquote col-md-offset-3 col-md-12">
  <p class="mb-0">Anytime I feel lost, I pull out a map and stare. I stare until I have reminded myself that life is a giant adventure, so much to do, to see.</p>
  <footer class="blockquote-footer">Angelina Jolie<cite title="Source Title">&nbsp(American actress)</cite></footer>
</blockquote>


	<div class="row" style = "margin: 5%;">
	</div>
	<!-- This is for the footer -->
    <footer class="footer col-sm-12" style = "background-color:lightgrey">
      <div class="container">
        <span class="text-muted" style = "text-align:center; display:table; margin:0px auto;">The Best NYC Mapping System</span>
      </div>
    </footer>


</div>


</body>
</html>